* {
    font-family: sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

article {
    border: black 5px solid;
    margin: 0 auto;
    margin-top: 50px;
    width: 40%;
    position: relative;
}

article::after {
    content: "SALE";
    background-color: #FF0000FF;
    color: white;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    position: absolute;
    top: -20px;
    left: -25px;
}

ul {
    list-style-type: square;
    padding: 20px;
}

.price {
    font-size: 30px;
}

.free-shipping {
    text-transform: uppercase;
    color: #aaa;
    font-weight: bold;
}

.add-cart-button {
    color: white;
    background-color: black;
    border: none;
    font-size: 25px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
}


#cart-button-link {
    text-decoration: none;
    color: white
}

#cart-button-link:hover, .add-cart-button:hover {
    color: black;
    background-color: white;
}

#more-information {
    color: black;
    display: inline-block;
    margin-bottom: 20px;
}

.color {
    height: 22px;
    width: 22px;
    display: inline-block;;
    margin-right: 10px;
}

.color-black {
    background-color: #000;
}

.color-blue {
    background-color: #000fff;
}

.color-red {
    background-color: #FF0000FF;
}

.color-yellow {
    background-color: #ffed00;
}

.color-green {
    background-color: #64ff00;
}


.color-brown {
    background-color: #A52A2AFF;
}

#main-header {
    font-weight: bold;
    font-size: 30px;
    background-color: #f7f7f7;
    text-align: center;
    text-transform: uppercase;
}

#product-details {
    margin-top: 20px;
}