* {
    font-family: sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
    line-height: 1.5;
}

article {
    border: black 5px solid;
    margin: 0 auto;
    margin-top: 50px;
    width: 40%;
}

ul {
    list-style-type: square;
    padding: 20px;
}

.price {
    font-size: 30px;
}

.free-shipping {
    text-transform: uppercase;
    color: #aaa;
    font-weight: bold;
}

.add-cart-button {
    color: white;
    background-color: black;
    border: none;
    font-size: 25px;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0;
}


#cart-button-link {
    text-decoration: none;
    color: white
}

#cart-button-link:hover, .add-cart-button:hover {
    color: black;
    background-color: white;
}

#more-information {
    color: black;
}

#main-header {
    font-weight: bold;
    font-size: 30px;
    background-color: #f7f7f7;
    text-align: center;
    text-transform: uppercase;
}

#product-details {
    margin-top: 20px;
}