.profile-container {
    border: #000000 3px solid;
    width: 20rem;
    height: 60rem;
}

.profile_photo {
    width: 100%;
    height: 30%;
}

.profile_info {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;
}

.skills_span {
    border-radius: 0.5rem;
    padding: 0.3rem;
    color: white;
    height: 30rem;
}

.skills_section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 1rem;
    padding: 0 0.2rem;
    height: 100%;
}